[user]
  name = Curtis Bartell
  email = 60277914+c-bartell@users.noreply.github.com

[init]
  defaultBranch = main
[commit]
  template = ~/.gitmessage
[core]
  editor = "nvim -c 'set spell'"
  excludesfile = ~/.gitignore
[alias]
  spaghetti = log --graph --oneline --all
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
