[user]
	name = Curtis Bartell
	email = 60277914+c-bartell@users.noreply.github.com
[init]
	defaultBranch = main
[commit]
	template = ../.gitmessage
[core]
	editor = "vim -c 'set spell'"
	excludesfile = /Users/curtis/.gitignore
[alias]
	spaghetti = log --graph --oneline --all	
