[user]
	name = Curtis Bartell
	email = curtis.bartell@ibotta.com
[init]
	defaultBranch = main
[commit]
	template = ~/.gitmessage
[core]
	editor = "vim -c 'set spell'"
	excludesfile = ~/.gitignore
[alias]
	spaghetti = log --graph --oneline --all	
